#header1-2m H1 {
  color: #000000;
}
#header1-2m P {
  color: #000000;
}
#msg-box4-2n .mbr-header__text {
  color: #7ac673;
}
#msg-box4-2n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2n .mbr-article {
  color: #ffffff;
}
#msg-box4-2n .mbr-article P {
  color: #000000;
}
#dropdown-menu-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5 .nav .link,
#dropdown-menu-5 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-5 .navbar,
#dropdown-menu-5 .dropdown-menu {
  background: #7ac673;
}
#dropdown-menu-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5 .dropdown-menu a:hover,
#dropdown-menu-5 .dropdown-menu a:focus {
  background: #6cc065;
}
#dropdown-menu-5 .navbar-toggler {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__text {
  color: #7ac673;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-article P {
  color: #000000;
}
#msg-box4-c .mbr-header__text {
  color: #7ac673;
}
#msg-box4-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-c .mbr-article {
  color: #ffffff;
}
#msg-box4-c .mbr-article P {
  color: #000000;
}
#msg-box4-j .mbr-header__text {
  color: #7ac673;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#msg-box4-j .mbr-article P {
  color: #252525;
}
#msg-box4-m .mbr-header__text {
  color: #7ac673;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #252525;
}
#msg-box4-m .mbr-article P {
  color: #252525;
}
#msg-box4-k .mbr-header__text {
  color: #7ac673;
}
#msg-box4-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-k .mbr-article {
  color: #ffffff;
}
#msg-box4-k .mbr-article P {
  color: #252525;
}
#dropdown-menu-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-d .nav .link,
#dropdown-menu-d .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-d .navbar,
#dropdown-menu-d .dropdown-menu {
  background: #7ac673;
}
#dropdown-menu-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-d .dropdown-menu a:hover,
#dropdown-menu-d .dropdown-menu a:focus {
  background: #6cc065;
}
#dropdown-menu-d .navbar-toggler {
  color: #ffffff;
}
#msg-box5-e .mbr-header__text {
  color: #7ac673;
}
#msg-box5-e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-e .mbr-article {
  color: #000000;
}
#msg-box4-1b .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1b .mbr-article {
  color: #ffffff;
}
#msg-box4-1b .mbr-article P {
  color: #000000;
}
#header1-26 H1 {
  color: #7ac673;
}
#header1-26 P {
  color: #000000;
  text-align: center;
}
#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #7ac673;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #6cc065;
}
#dropdown-menu-n .navbar-toggler {
  color: #ffffff;
}
#msg-box4-12 .mbr-header__text {
  color: #7ac673;
}
#msg-box4-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-12 .mbr-article {
  color: #ffffff;
}
#msg-box4-12 .mbr-article P {
  color: #252525;
}
#msg-box4-13 .mbr-header__text {
  color: #7ac673;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-article LI {
  text-align: left;
  color: #252525;
}
#msg-box4-13 .mbr-article P {
  color: #252525;
}
#msg-box4-1h .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1h .mbr-article {
  color: #252525;
}
#msg-box4-1h .mbr-article P {
  color: #000000;
}
#msg-box4-1g .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1g .mbr-article {
  color: #252525;
}
#msg-box4-1g .mbr-article P {
  color: #000000;
}
#msg-box4-1k .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1k .mbr-article {
  color: #252525;
}
#msg-box4-1k .mbr-article P {
  color: #000000;
}
#msg-box4-1l .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1l .mbr-article {
  color: #252525;
}
#msg-box4-1l .mbr-article P {
  color: #000000;
}
#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #7ac673;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #6cc065;
}
#dropdown-menu-o .navbar-toggler {
  color: #ffffff;
}
#form1-p .mbr-header__text {
  color: #7ac673;
}
#dropdown-menu-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-r .nav .link,
#dropdown-menu-r .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-r .navbar,
#dropdown-menu-r .dropdown-menu {
  background: #7ac673;
}
#dropdown-menu-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-r .dropdown-menu a:hover,
#dropdown-menu-r .dropdown-menu a:focus {
  background: #6cc065;
}
#dropdown-menu-r .navbar-toggler {
  color: #ffffff;
}
#content5-1q .mbr-header .mbr-header__text {
  text-align: center;
  color: #7ac673;
}
#content5-1q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1q .mbr-article {
  color: #000000;
}
#content5-1q .mbr-article P {
  color: #000000;
}
#msg-box4-1r .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1r .mbr-article {
  color: #ffffff;
}
#msg-box4-1r .mbr-article P {
  color: #000000;
}
#msg-box4-1c .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1c .mbr-article {
  color: #000000;
}
#msg-box4-1e .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1e .mbr-article {
  color: #ffffff;
}
#msg-box4-1e .mbr-article P {
  color: #000000;
}
#msg-box4-1p .mbr-header__text {
  color: #7ac673;
}
#msg-box4-1p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1p .mbr-article {
  color: #000000;
}
#dropdown-menu-1z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1z .nav .link,
#dropdown-menu-1z .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1z .navbar,
#dropdown-menu-1z .dropdown-menu {
  background: #7ac673;
}
#dropdown-menu-1z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1z .dropdown-menu a:hover,
#dropdown-menu-1z .dropdown-menu a:focus {
  background: #6cc065;
}
#dropdown-menu-1z .navbar-toggler {
  color: #ffffff;
}
#header1-20 H1 {
  color: #7ac673;
}
#header1-20 P {
  color: #000000;
}
#slider-25 H1 {
  text-align: center;
  color: #7ac673;
}
#msg-box4-28 .mbr-header__text {
  color: #7ac673;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#msg-box4-28 .mbr-article P {
  color: #000000;
}
#msg-box5-24 .mbr-header__text {
  color: #7ac673;
}
#msg-box5-24 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-24 .mbr-article {
  color: #ffffff;
}
#msg-box5-24 .mbr-article P {
  color: #000000;
}
#msg-box4-23 .mbr-header__text {
  color: #7ac673;
}
#msg-box4-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#msg-box4-23 .mbr-article P {
  color: #000000;
}
